:root {
  --animation-speed: 1000ms;
  --default-bg-color: white;
  --default-border: 2px solid #bbb;
  --no-border: 0px;
  --default-text-color: black;
  --absent-color: #787c7e;
  --correct-color: #528d4e;
  --present-color: #b49f39;
}

.App {
  text-align: center;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

.game {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
  /* border: var(--default-border); */
}

/* Prompt CSS */

.prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Ensure it's on top of other content */
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.prompt.hidden {
  opacity: 0;
}

.play-button {
  position: relative;
  border: none;
  height: 3em;
  border-radius: 1.5em;
  align-content: center;
  letter-spacing: .05em;
  margin: 0 10px 8px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 0 2em;
}

.icon-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1px;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: min(0.8vh, 0.8vw);
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: min(0.8vh, 0.8vw);
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle {
  width: min(4vh, 4vw);
  height: min(4vh, 4vw);
  background-color: grey;
  border-radius: 50%; /* Makes the element circular */
  border: 2.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: min(2vh, 2vw);
  font-weight: 400;
  cursor: default;
  min-width: "unset";
  padding: "0";
}

.separator {
  width: 3px; /* Adjust the width as needed for the desired spacing */
  height: 170px;
  background-color: black;
}

/* End of prompt CSS */

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 2px solid black;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  color: black;
  font-size: 2em;
}

.board-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  /* border: 3px solid black; */
}

.board {
  width: 360px;
  height: 255px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.row3 {
  width: 100vw;
  height: 75px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.row1,
.row2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.letter {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
  text-transform: uppercase;
  border: var(--default-border);
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #787c7e;
}

.keyboard {
  width: 100vw;
  height: 200px;
  background-color: white;
}

.line1,
.line2,
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
}

.key {
  width: 42px;
  height: 58px;
  margin: 2px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 1.25em;
  font-weight: bold;
  background-color: #d3d6da;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 80px;
  font-size: 1em;
}

.game-over {
  color: black;
}

/* For the Phone */

@media only screen and ((max-width: 768px)) {
  
  nav {
    height: 40px;
    width: 100%;
    margin: 0;
    border-bottom: 1.5px solid black;
    display: grid;
    place-items: center;
  }
  
  nav h1 {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-size: 30px;
  }
  
  .board-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 3px;
    /* border: 3px solid black; */
  }
  
  .board {
    width: 240px;
    height: 175px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 3px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .row3 {
    width: 100vw;
    height: 55px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 3px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .row1,
  .row2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
  }
  
  .letter {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: var(--default-bg-color);
    color: var(--default-text-color);
    text-transform: uppercase;
    border: 1.25px solid #bbb;
  }
  
  .keyboard {
    width: 100vw;
    height: 180px;
    background-color: white;
    padding: 10px;
  }
  
  .line1,
  .line2,
  .line3 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2px;
  }
  
  .key {
    width: 9vw;
    height: 54px;
    margin: 2px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    background-color: #d3d6da;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  
  #big {
    width: 12vw;
    font-size: 0.6em;
  }
}

/* Transformations */

@keyframes row-shake {
  10%, 90% {
      transform:translateX(-1px)
  }

  20%, 80% {
      transform:translateX(2px)
  }

  30%, 50%, 70% {
      transform:translateX(-4px)
  }

  40%, 60% {
      transform: translateX(4px)
  }
}

.invalid {
  animation-name: row-shake;
  animation-duration: 600ms
}

@keyframes revealAbsent {
  0% {
    transform: rotateX(0deg);
    background-color: var(--default-bg-color);
    border: var(--default-border);
    color: var(--default-text-color);
  }
  50% {
    transform: rotateX(90deg);
    background-color: var(--default-bg-color);
    border: var(--default-border);
    color: var(--default-text-color);
  }
  50.1% {
    transform: rotateX(90deg);
    background-color: var(--absent-color);
    border: var(--no-border);
    color: white;
  }
  100% {
    transform: rotateX(0deg);
    background-color: var(--absent-color);
    border: var(--no-border);
    color: white;
  }
}

@keyframes revealCorrect {
  0% {
    transform: rotateX(0deg);
    background-color: var(--default-bg-color);
    border: var(--default-border);
    color: var(--default-text-color);
  }
  50% {
    transform: rotateX(90deg);
    background-color: var(--default-bg-color);
    border: var(--default-border);
    color: var(--default-text-color);
  }
  50.1% {
    transform: rotateX(90deg);
    background-color: var(--correct-color);
    border: var(--no-border);
    color: white;
  }
  100% {
    transform: rotateX(0deg);
    background-color: var(--correct-color);
    border: var(--no-border);
    color: white;
  }
}

@keyframes revealPresent {
  0% {
    transform: rotateX(0deg);
    background-color: var(--default-bg-color);
    border: var(--default-border);
    color: var(--default-text-color);
  }
  50% {
    transform: rotateX(90deg);
    background-color: var(--default-bg-color);
    border: var(--default-border);
    color: var(--default-text-color);
  }
  50.1% {
    transform: rotateX(90deg);
    background-color: var(--present-color);
    border: var(--no-border);
    color: white;
  }
  100% {
    transform: rotateX(0deg);
    background-color: var(--present-color);
    border: var(--no-border);
    color: white;
  }
}

.cell-reveal {
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.cell-reveal.absent {
  animation-name: revealAbsent;
}

.cell-reveal.correct {
  animation-name: revealCorrect;
}

.cell-reveal.present {
  animation-name: revealPresent;
}